/* add css to style the <h2> heading
    then remove styles from html */


/* modify this for better visibility */
p {
    background-color: #98C2ED;
    color:#4D8DFF;
    font-size: 1.0rem;
}

/* add css to customize focus */


/* add css to hide description of visual information */
/* at end of inaccessible html page, find "you reached the end of the webpage",
    uncomment it and try to hide it from sighted user */
